<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :directions %><br>
    <%= f.text_area :directions %>
  </div>

  <input id="_method" name="_method" type="hidden" value="post">
  <div class="btn-group btn-group-med">
    <% if object["action"] == "create" %>
      <button class="btn btn-primary" type="button" id="btn-create">Create</button>
    <% end %>
    <% if object["action"] == "edit" %>
      <button class="btn btn-primary" type="button" id="btn-update-<%= @recipe.id %>">Update</button>
      <button class="btn btn-primary" type="button" id="btn-show-<%= @recipe.id %>">Show</button>
    <% end %>
    <button class="btn btn-primary" type="button" id="btn-back">Back</button>
  </div>

<% end %>
