<%= form_for setup_recipe( @recipe ) do |f| %>
  <% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<table class="table">
  <tr>
    <td><%= label( :recipe, :name) %></td>
    <td><%= if f.object.persisted?
        hidden_field( :recipe, :id )
      end %>
      <%= text_field( :recipe, :name, size: 40 ) %></td>
  </tr>
  <tr>
  <th>Ingredients</th>
  <td>
    <table class="table table-hover table-bordered recipe-table">
      <thead>
        <tr>
          <th class="col-sm-4"><%= label( :ingredient, :name   ) %></th>
          <th class="col-sm-1"><%= label( :ingredient, :amount ) %></th>
          <th class="col-sm-1"><%= label( :ingredient, :uom,   ) %></th>
          <th class="col-sm-1" align="right">Action</th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <td colspan=4 align="center">
            <p class="recipe-btn">
            <button class="btn btn-primary" type="button" id="btn-add-ingredient"
                  data-new-row="<%= @recipe.persisted? ? "N" : "Y" %>"  aria-label="Left Align">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Ingredients
            </button>
            &nbsp;Click on ingredient(s) to edit</p>
          </td>
        </tr>
      </tfoot>

      <tbody class="ingredient-body">
        <%= f.fields_for :ingredients do |ing_form| %>
        <tr>
          <td class="hidden">
            <% if ing_form.object.persisted? %>
            <%= ing_form.hidden_field :id %>
            <% end %>
          </td>
          <td>
            <div class="form-group field">
              <%= ing_form.text_field :name %>
            </div>
          </td>
          <td>
            <div class="form-group field">
              <%= ing_form.text_field :amount %>
            </div>
          </td>
          <td>
            <div class="form-group field">
              <%= ing_form.text_field :uom %>
            </div>
          </td>
          <td>
            <% if ing_form.object.persisted? %>
            <form method="post" action="/recipes/<%= ing_form.object.recipe_id %>/ingredients/<%= ing_form.object.id %>">
            <div class="btn-group btn-group-sm recipe-btn">
              <%= button_to recipe_ingredient_path(@recipe.id, ing_form.object.id ), class: "btn btn-primary",
              method: :delete, data: {confirm: "Are you sure you want to delete this ingredient?"}, type: "button" do %>
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
              <% end %>
            </div>
          </form>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>

    </table>

  </td>
</tr>
  <tr>
    <td><%= label( :recipe, :directions) %></td>
    <td><%= text_area( :recipe, :directions, class: "textarea-styled" ) %></td>
  </tr>
</table>

  <input id="_method" name="_method" type="hidden" value="post">
  <div class="btn-group btn-group-med recipe-btn">
    <% if object["action"] == "create" %>
    <button class="btn btn-primary" type="button" id="btn-create-recipe">Create</button>
    <% end %>
    <% if object["action"] == "edit" %>
    <button class="btn btn-primary" type="button" id="btn-update-recipe-<%= @recipe.id %>">Update</button>
    <button class="btn btn-primary" type="button" id="btn-show-recipe-<%= @recipe.id %>">Show</button>
    <% end %>
    <button class="btn btn-primary" type="button" id="btn-back-recipe">Back</button>
  </div>

  <br><br>
    <p><h4>Tell us what you think...</h4></p>
        <p align='left'>
          <select id="select-rating">
            <option value="0">Bad</option>
            <option value="1">So-so</option>
            <option value="2">Ok</option>
            <option value="3">Pretty Good</option>
            <option value="4">Excellent</option>
            <option value="5">Outstanding</option>
          </select>
          <div class="rateit" id="recipe-rating" data-rateit-backingfld="#select-rating"></div>
          <input type="hidden" id="rating" name="comment[rating]">
        </p>
        <p><%= text_area( :comment, :comment, class: "textarea-styled") %></p>
        <p align='center'>
          <div class="recipe-btn">
            <button class="btn btn-primary" type="button" id="btn-add-comment-<%= @recipe.id %>">Add Comment</button>
          </div>
        </p>


        <!--  Comments -->
        <table class="table table-hover table-bordered recipe-table">
          <thead>
            <tr>
              <th class="col-sm-8">Comments</th>
              <th class="col-sm-1">Stars</th>
            </tr>
          </thead>

          <tfoot>
          </tfoot>

          <tbody>
            <%= f.fields_for :comments do |comment| %>
            <tr>
              <td>
                <%= comment.hidden_field :id %>
                <div class="form-group field">
                  <%= comment.object.comment %>
                </div>
              </td>
              <td>
                <div class="form-group field">
                  <select id="display-rating-<%= comment.object.id %>">
                    <option value="0">Bad</option>
                    <option value="1">So-so</option>
                    <option value="2">Ok</option>
                    <option value="3">Pretty Good</option>
                    <option value="4">Excellent</option>
                    <option value="5">Outstanding</option>
                  </select>
                  <div class="rateit" id="recipe-rating" data-rateit-backingfld="#display-rating-<%= comment.object.id %>"  data-rateit-value="<%= comment.object.rating %>" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>

        </table>

  <% end %>
