<% content_for(:title, "View Recipe | RecipeBlogger") %>

<div class="container">
  <div class="row">

    <p id="notice"><%= notice %></p>

    <h2>Viewing Recipe</h2>

    <%= form_for @recipe do |f| %>

    <table class="table">
      <tr>
        <td><%= label( :recipe, :name ) %></td>
        <td><%= text_field( :recipe, :name, size: 40, disabled: "disabled" ) %></td>
      </tr>
      <tr>
        <th>Ingredients</th>
        <td>
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th class="col-sm-4"><%= label( :ingredient, :name   ) %></th>
                <th class="col-sm-1"><%= label( :ingredient, :amount ) %></th>
                <th class="col-sm-1"><%= label( :ingredient, :uom    ) %></th>
              </tr>
            </thead>

            <tfoot>
            </tfoot>

            <tbody>
              <%= f.fields_for :ingredients do |ing_form| %>
              <tr>
                <td>
                  <%= ing_form.hidden_field :id %>
                  <div class="form-group field">
                    <%= ing_form.object.name %>
                  </div>
                </td>
                <td>
                  <div class="form-group field">
                    <%= ing_form.object.amount %>
                  </div>
                </td>
                <td>
                  <div class="form-group field">
                    <%= ing_form.object.uom %>
                  </div>
                </td>
              </tr>
              <% end %>
            </tbody>

          </table>
        </td>
        <tr>
          <td><%= label( :recipe, :directions) %></td>
          <td><%= text_area( :recipe, :directions, class: "textarea-styled", disabled: "disabled" ) %></td>
        </tr>
      </table>

      <br>
      <div class="btn-group">
        <button class="btn btn-primary" type="button" id="btn-edit-recipe-<%= @recipe.id %>">Edit</button>
        <button class="btn btn-primary" type="button" id="btn-back-recipe">Back</button>
      </div>

<br><br>
      <!--  Comments -->
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th class="col-sm-8">Comments</th>
            <th class="col-sm-2">Entered By</th>
            <th class="col-sm-1">Stars</th>
          </tr>
        </thead>

        <tfoot>
        </tfoot>

        <tbody>
          <%= f.fields_for :comments do |comment| %>
          <tr>
            <td>
              <%= comment.hidden_field :id %>
              <div class="form-group field">
                <%= comment.object.comment %>
              </div>
            </td>
            <td>
              <div class="form-group field">
                <%= comment.object.entered_by %>
              </div>
            </td>
            <td>
              <div class="form-group field">
                <%= comment.object.rating %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>

      </table>
      <% end %>

    </div>
  </div>
