<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container body-container">
  <div class="header-row">
    <%= render 'shared/header' %>
  </div>
  <div class="main-row">
    <%= yield %>
  </div>
  <div class="footer-row">
    <%= render 'shared/footer' %>
  </div>
</div>

</body>
</html>
